.footer-col.footer__loft-info
    .loft-info_text This web page was made for training in the online school LoftSchool.
.footer-col.footer__navigation
    ul.footer__navigation_items
        li.footer__navigation_item
            a(href="project.html").footer__navigation_item-link My projects
        li.footer__navigation_item
            a(href="about.html").footer__navigation_item-link About Me
        li.footer__navigation_item
            a(href="blog.html").footer__navigation_item-link Blog
        li.footer__navigation_item
            a(href="index.html").footer__navigation_item-link Sign In
    ul.socials-about-footer
        include ./../sections/social_icons.pug
.footer-col.footer__quote
    .footer__quote-text "Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live."
        .footer__quote-text_author - Martin Goldin
.footer-bottom-line
    .bottom-line_text &copy;Vladimir Astahov | Created with love in the LoftSchool | 2016