.overlay
    a( href="javascript: void(0)").overlay__closebtn &times;

    .overlay__content
        ul.overlay__content_items
            li.overlay__content_item
                a(href="project.html").overlay__content_item-link Projects
            li.overlay__content_item
                a(href="about.html").overlay__content_item-link About
            li.overlay__content_item
                a(href="blog.html").overlay__content_item-link Blog
            li.overlay__content_item
                a(href="index.html").overlay__content_item-link Sign In