- var icons = ['vk', 'github', 'in']
    each icon in icons
        li.social__item
            a(href="#").socials__link
                svg.socials__icon
                    use(xlink:href=`./assets/img/sprite.svg#${icon}`)