.overlay{
  height: 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(78, 136, 57, .8);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 100;
}
.overlay__content{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay__content_item{
  padding: 8px;
  transition: 0.3s;

}

.overlay__content_item-link{
  text-decoration: none;
  font-size: 36px;
  color: $text_color;
  border-bottom: 1px solid $text_color;
  padding-bottom: 10px;
  font-family: $robo_reg;
  &:hover{
    color: #a0d08e;
  }
  &:focus{
    color: #a0d08e;
  }
}
.overlay__closebtn{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: $text_color;
}

.overlay__trygger{
  height: 100%;
}