.section-title{
  @include centered(x);
  padding: 30px 80px;
  display: inline-block;
  position: relative;
  z-index: 10;
  bottom: 0;
  &:after{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    left:40%;
    @include centered(x);
  }
}

.about-title{
  font-size: 63px;
  font-family: $sansus;
  color: $title_color;
  &:after{
    background: $title_color;
  }
}



.about-section_title{
  font-size: 35px;
  color: #59655b;
  font-family: $sansus;
  &:after{
    background: #59655b;
  }
  @include tablet{
    text-align: center;
  }
}
.about_svg{
  position: absolute;
  @include centered(both);
  z-index: -1;
  fill: #e2ebd0;
  width: 400px;
  top: 40%;
}

