.sign-in-button Sign in
.l-main-window

    .l-page-autorization
    .c-hero-pic
    .c-hero-title
        h1.hero-title_text Dmytro Kulyk
    .c-hero-page-description  Developer's webpage

    ul.social-icons
        li.social-icons__item.social-icons__item-vk
            a.social__link(href="#")
                svg.vk-icon
                    use(xlink:href='./assets/img/sprite.svg#vk')
        li.social-icons__item.social-icons__item-git
            a.social__link(href="#")
                svg.git-icon
                    use(xlink:href='./assets/img/sprite.svg#github')
        li.social-icons__item.social-icons__item-in
            a.social__link(href="#")
                svg.in-icon
                    use(xlink:href='./assets/img/sprite.svg#in')

    ul.menu-links
         li.munu-links__item
            a.menu-link_my-projects My projects
         li.munu-links__item
            a.menu-link_about About Me
         li.munu-links__item
            a.menu-link_blog Blog