 @import "./sprite";

.welcome-page{
  background: url('../img/bg_welcome.png');
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

 // sign-in-button

 .sign-in-button{
   position: absolute;
   font-family: $robo_medium;
   right: 100px;
   top: 25px;
   color: $text_color;
   font-size: 16px;
   padding: 10px 40px;
   border: 1px solid #ffffff;
   border-radius: 30px;
   &:hover{
     background: #477e39;
   }
 }
 // main container front

 .l-main-window{
   width: 380px;
   height: 420px;
   text-align: center;
   margin: 0 auto;
   position: relative;
   @include centered(both);
   perspective: 800px;
 }
 .l-page-autorization{
   width: 100%;
   height: 100%;
   position: absolute;
   transition: transform 1s;
   transform-style: preserve-3d;
   transform-origin: 50% 50%;
}

 .user-welcome-form{
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   backface-visibility: hidden;
   text-align: center;
 }
 .user-welcome-form__front{
   background-color: rgba(18, 38, 32, 0.6);
   border-radius: 5px;
   opacity: 1;
   z-index: 4;
 }
 .user-welcome-form__back{
   background-color: rgba(18, 38, 32, 0.6);
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   transform: rotateY(180deg);
 }
 .flipped{
   transform: rotateY(180deg);
 }

// menu links
 .menu-links{
   position: absolute;
   bottom: 14px;
   //z-index: 100;
   font-size: 0;
 }

 .munu-links__item{
   display: inline;

   padding: 15px 30px 15px 32px;
   font-family: $robo_medium;
   font-size: 16px;
   background: $green;
   &:last-child{
     padding-right: 35px;
     padding-left: 35px;
     border-bottom-right-radius: 5px;
   }
   &:first-child{
     border-bottom-left-radius: 5px;
   }
   &:hover{
     background: #4e8839;
   }
   & a {
     color: $text_color;
   }
 }