.projects{
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hero_container{
  @extend %clearfix;
}

.projects-triangle-container{
  float: left;
  width: 50%;
  fill: $blocg_col;
}

.projects__triangle{
  display: block;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0%;
}

//project title

.project-title{
  font-size: 63px;
  color: #373e42;
  left: 50%;
  transform: translateX(-50%);
  font-family: $robo-bold;
  //padding: 30px 80px;
  min-width: 340px;
  position: absolute;
  z-index: 10;
  top: 80%;
}


.projects-title_text{
  &:after{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    left:40%;
    background: #373e42;
    @include centered(x);
  }
}
.projects_svg{
  position: absolute;
  @include centered(both);
  z-index: -1;
  fill: #e2ebd0;
  width: 400px;
  top: 40%;
}

// projects slider

.slider{
  @extend %clearfix;
  position: relative;
  margin-bottom: 70px;
  height: 100vh;
  min-height: 750px;
  @include tablet {
    height: auto;
    min-height: 0;
    text-align: center;
  }
}

.slider__col{
  float: left;
  height: 100%;
  min-height: 700px;
  position: relative;
  width: 50%;
  text-align: center;
  @include tablet {
    float: none;
    width: 100%;
    height: auto;
    min-height: 200px;
  }
}

.slider__col_right{
  background: #ebefe2;
}
.slider__col_left{
  background: #e1e4d7;
}

// col left

.slider__desc{
  @include centered(both);
 @include tablet {
   position: static;
   transform: none;
   display: inline-block;
   padding-top: 100px;
   padding-bottom: 50px;
   background-color: #ebefe2;
   width: 100%;
 }
}

.slider__desc-title{
  font-size: 35px;
  color: $title_color;
  @include centered(x);
  font-family: $robo_bold;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
  @include tablet {
    position: static;
    left: 0;
    transform: none;
  }
  &:after {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    left: 40%;
    @include centered(x);
    background: $title_color;
  }
}

.slider__desc-skills{
  font-size: 16px;
  font-family: $robo_med;
  color: #4e8839;
  margin-bottom: 60px;
}
.slider__desc-btn_svg{
  fill: $text_color;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-left: 0;
}

.slider__desc-btn{
  width: 200px;
  padding: 16px 20px;
  border: 1px solid #6c9c5a;
  border-radius: 20px;
  background: #6c9c5a;
  margin: 0 auto;
}
.project-button-title{
 display: inline-block;
  font-size: 16px;
  font-family: $robo_med;
  color: $text_color;
  margin-left: 10px;
}

// col right

.slider__display{
  height: 70%;
  width: 100%;
  position: relative;
  left: 100%;
  z-index: 10;
  @include tablet {
    position: static;

  }
}
.slider__display-pic{
  width: 600px;
  @include centered('both');
  @include laptop {
    width: 450px;
  }
  @include tablet {
    width: 560px;
    position: static;
    transform: none;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  @include phone {
    width: 230px;
  }
}
.slider__btns{
  height: 30%;
  @extend %clearfix;
  position: relative;
  top: 70%;
  @include tablet {
    position: static;
    height: 200px;
  }
}
.slider__btn{
  width: 50%;
  position: absolute;
  height: 100%;
  @include tablet {
    height: 200px;
  }
}
.slider__btn_left{
  background: linear-gradient( rgba(176, 183, 170, .7),
          rgba(176, 183, 170, .7)),
  url('../img/loft3.png');
  background-position: center;
  left: 0;
}
.slider__btn_right{
  background: linear-gradient( rgba(176, 183, 170, .7),
                              rgba(176, 183, 170, .7)),
url('../img/loft3.1.png');
  background-position: center;
  background-size: cover;
  right: 0;
}

.portf_arrow{
  fill: $text_color;
  height:35px;
  width: 40px;
  position: absolute;
  top: 100px;
  z-index: 1000;
  cursor: pointer;
  transition: .3s;
}

.portf_arrow_down_svg{
  left: 25%;
  &:hover{
    top: 95px;
  }
}
.portf_arrow_up_svg{
  right: 25%;
  &:hover{
    top: 90px;
  }
}
// what's about me block

.whats-about{
  //background: url('../img/projects_bg.png')  center center;
  width: 100%;
  height: 1300px;
  background-size: cover;
  position: relative;
  //min-width: 946px;
}

.whats-about__title{
  font-size: 63px;
  color: #373e42;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-family: $robo-bold;
  //padding: 30px 80px;
  min-width: 260px;
  position: absolute;
  z-index: 10;
  top: 1%;
}


.whats-about__title_text{
  &:after{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    left:40%;
    background: #373e42;
    @include centered(x);
  }
}

.review{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 770px;
  @include tablet{
    width: 700px;
  }
}
.review-item{
 float: left;
  width: 50%;
  text-align: center;
  vertical-align: top;
  line-height: 2;
  @include tablet{
    width: 350px;
  }

}
.mentor-photo{
  margin-bottom: 20px;
}
.mentor-review{
  font-size: 16px;
  font-family: $robo_ital;
  color: #5d5a55;
  margin-bottom: 10px;
  text-align: left;
}

.quotes_svg{
  opacity: .6;
  fill: #e2ebd0;
  position: absolute;
  top: 70%;
  height: 60px;
  width: 60px;
  z-index: -1;
}

.quotes_svg-left{
  right: 330px;
}
.quotes_svg-right{
  left: 0;
}
.mentor-name{
  color: #598f45;
  font-size: 16px;
  font-family: 'robotobold_italic';
}

.mentor-pozition{
  font-size: 16px;
  font-family: $robo_ital;
  color: #5d5a55;
}

//contact with me



.contact-with-me__title{
  font-size: 35px;
  color: #373e42;
  left: 20%;
  font-family: $robo-reg;
  position: absolute;
  z-index: 10;
  top: 5%;
}


.contact-with-me__title_text{
  &:after{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    left:40%;
    background: #373e42;
    @include centered(x);
  }
}
.contact-me__form{
  @include centered(both);
}
.contact-me__form-input{
  background-color: white;
  width: 340px;
  height: 45px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  text-indent: 10px;
  border: 0;
  box-sizing: border-box;
}
.contact-me__form-input_textarea{
  background-color: rgb(255, 255, 255);
  width: 325px;
  height: 140px;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  resize: vertical;
  max-height: 170px;
}

.contact-me__form-button{
  position: absolute;
  padding: 15px 78px;
  background: rgb(108, 156, 90);
  border: none;
  cursor: pointer;
  bottom: -91px;
  font-size: 16px;
  font-family: $robo_med;
  color: $text_color;
  &:hover{
    background: rgb(78, 136, 57);
  }
}


.contact-me__form-button-send{
  left: -18px;
  border-right: 1px solid white;
  border-bottom-left-radius: 5px;
}
.contact-me__form-button-reset{
  right: -18px;
  border-left: 1px solid white;
  border-bottom-right-radius: 5px;
}

.error_message-name{
  position: absolute;
  color: #e34844;
  top: -20px;
  left: 7px;
}
.error_message-mail{
  position: absolute;
  color: #e34844;
  top: 44px;
  left: 0;
}
.error_message-textarea{
  position: absolute;
  color: #e34844;
  top: 37%;
}