.projects{
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.project-block{
  margin-bottom: 70px;
}
.hero_container{
  @extend %clearfix;
}

.projects-triangle-container{
  float: left;
  width: 50%;
  fill: $blocg_col;
}

.projects__triangle{
  display: block;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0%;
}

//project title

.project-title{
  font-size: 63px;
  color: #373e42;
  left: 50%;
  transform: translateX(-50%);
  font-family: $robo-bold;
  padding: 30px 80px;
  position: absolute;
  z-index: 10;
  top: 80%;
}


.projects-title_text{
  &:after{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    left:40%;
    background: #373e42;
    @include centered(x);
  }
}
.projects_svg{
  position: absolute;
  @include centered(both);
  z-index: -1;
  fill: #e2ebd0;
  width: 400px;
  top: 40%;
}
.project-block{
  @extend %clearfix;
  background: #ebefe2;
  position: relative;
}

.project-list_item{
  height: 760px;
}
.portf_arrow{
  fill: #92b583;
  height: 25px;
  position: absolute;
  top: 50%;
  z-index: 1000;
  cursor: pointer;
  transition: .3s;
}

.portf_arrow_left_svg{
  transform: rotate(90deg);
  left: -115px;
  &:hover{
  left: -108px;
}
}
.portf_arrow_right_svg{
  transform: rotate(-90deg);
  right: -115px;;
  &:hover{
    right: -108px;
  }
}
// projects right
.project__col{
  float: left;

  height: 760px;
}
.project__col_right, .project__col_left{
  overflow: hidden;
  text-align: center;
  position: relative;
}
.project__col_right{
  width: 40%;
}
.project__col_left{
  width: 60%;
}

.project-list_item-information{
  @include centered(both);
}

.project-list_item-title{
  font-size: 35px;
  color: $title_color;
  @include centered(x);
  font-family: $robo_bold;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
  &:after {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    left: 40%;
    @include centered(x);
    background: $title_color;
  }
}

.project-list_item-components{
  font-size: 16px;
  font-family: $robo_med;
  color: #4e8839;
  margin-bottom: 60px;
}
.project-link_svg{
  fill: $text_color;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-left: 0;
}

.project-list_item-button{
  width: 200px;
  padding: 16px 20px;
  border: 1px solid #6c9c5a;
  border-radius: 20px;
  background: #6c9c5a;
  margin: 0 auto;
}
.project-button-title{
 display: inline-block;
  font-size: 16px;
  font-family: $robo_med;
  color: $text_color;
  margin-left: 10px;
}

// project left


.projects-img-carusel{
  height: 500px;
  width: 100%;
  position: absolute;
  margin: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.projects-img-carusel__item-img{
  width: 100%;
  height: 100%;
}

// what's about me block

.whats-about{
  //background: url('../img/projects_bg.png')  center center;
  width: 100%;
  height: 1300px;
  background-size: cover;
  position: relative;
  min-width: 946px;
}

.whats-about__title{
  font-size: 63px;
  color: #373e42;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-family: $robo-bold;
  padding: 30px 80px;
  position: absolute;
  z-index: 10;
  top: 1%;
}


.whats-about__title_text{
  &:after{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    left:40%;
    background: #373e42;
    @include centered(x);
  }
}

.review{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 770px;

}
.review-item{
  width: 380px;
  display: inline-block;
  text-align: center;
  max-height: 130px;
  vertical-align: top;
  line-height: 2;
}
.mentor-photo{
  margin-bottom: 20px;
}
.mentor-review{
  font-size: 16px;
  font-family: $robo_ital;
  color: #5d5a55;
  margin-bottom: 10px;
  text-align: left;
}

.quotes_svg{
  opacity: .6;
  fill: #e2ebd0;
  position: absolute;
  top: 70%;
  height: 60px;
  width: 60px;
  z-index: -1;
}

.quotes_svg-left{
  right: 330px;
}
.quotes_svg-right{
  left: 0;
}
.mentor-name{
  color: #598f45;
  font-size: 16px;
  font-family: 'robotobold_italic';
}

.mentor-pozition{
  font-size: 16px;
  font-family: $robo_ital;
  color: #5d5a55;
}

//contact with me



.contact-with-me__title{
  font-size: 35px;
  color: #373e42;
  left: 20%;
  font-family: $robo-reg;
  position: absolute;
  z-index: 10;
  top: 5%;
}


.contact-with-me__title_text{
  &:after{
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    left:40%;
    background: #373e42;
    @include centered(x);
  }
}
.contact-me__form{
  @include centered(both);
}
.contact-me__form-input{
  background-color: white;
  width: 340px;
  height: 45px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  text-indent: 10px;
  border: 0;
}
.contact-me__form-input_textarea{
  background-color: rgb(255, 255, 255);
  width: 325px;
  height: 140px;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  resize: vertical;
  max-height: 180px;
}

.contact-me__form-button{
  position: absolute;
  padding: 15px 78px;
  background: rgb(108, 156, 90);
  border: none;
  cursor: pointer;
  bottom: -91px;
  font-size: 16px;
  font-family: $robo_med;
  color: $text_color;
  &:hover{
    background: rgb(78, 136, 57);
  }
}


.contact-me__form-button-send{
  left: -18px;
  border-right: 1px solid white;
  border-bottom-left-radius: 5px;
}
.contact-me__form-button-reset{
  right: -18px;
  border-left: 1px solid white;
  border-bottom-right-radius: 5px;
}

