html{
  @include desktop{
    font-size: 16px;
  }
  @include laptop{
    font-size: 15px;
  }
  @include tablet{
    font-size: 14px;
  }
  @include phone{
    font-size: 13px;
  }
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', Arial, sens-serife;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

.wrapper{
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none !important;
}
