extends ../layout

block title
    title project

block content
    include ./../sections/overlay_navigation
    .wrapper
        section.section.hero

            include ./../sections/hero_section

            .projects-triangle-container.projects-triagle__left
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").projects__triangle
                    polygon(points="0,0 0,110 1000,110")
            .projects-triangle-container.projects-triagle__right
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").projects__triangle
                    polygon(points="0,110 1000,110 1000,0")

            .project-title
                .projects-title_text My projects
                    svg.projects_svg
                        use(xlink:href='./assets/img/sprite.svg#works_header')

        section.section.slider

            .slider__col.slider__col_left
                .slider__display
                    img(src="assets/img/loft.png" alt="").slider__display-pic

                .slider__desc
                    .slider__desc-title On line school website
                    .slider__desc-skills HTML CSS JAVASCRIPT
                    .slider__desc-btn
                        svg.slider__desc-btn_svg
                            use(xlink:href='./assets/img/sprite.svg#link')
                        .project-button-title Check website
            .slider__col.slider__col_right

                .slider__btns
                    a(href="#").slider__btn.slider__btn_left
                    svg.portf_arrow.portf_arrow_up_svg
                        use(xlink:href='./assets/img/sprite.svg#portf_arrow_up')
                    a(href="#").slider__btn.slider__btn_right
                    svg.portf_arrow.portf_arrow_down_svg
                        use(xlink:href='./assets/img/sprite.svg#portf_arrow_down')








        section.section.whats-about
            .blur__background
                img(src='assets/img/projects_bg.png').blur__img
            .whats-about__title
                .whats-about__title_text My work review
                    svg.about_svg
                        use(xlink:href='./assets/img/sprite.svg#about_header')
            ul.review
                li.review-item
                    .mentor-photo
                        img(src='assets/img/d_koval_img.png').mentor-photo_img
                    .mentor-review This dude was studing in one of the best online schools - LoftSchool and had of the toughest 2 mounth in his life!
                        svg.quotes_svg.quotes_svg-left
                            use(xlink:href='./assets/img/sprite.svg#quotes')
                    .mentor-name Dmytry Kovalchuk
                    .mentor-pozition - LoftSchool founder
                li.review-item
                    .mentor-photo
                        img(src='assets/img/v_sabia_img.png').mentor-photo_img
                    .mentor-review This code can handle any test, but please do not run it in an old browsers!
                        svg.quotes_svg.quotes_svg-right
                            use(xlink:href='./assets/img/sprite.svg#quotes')
                    .mentor-name Vladimyr Sabyantsev
                    .mentor-pozition - mentor

            .contact-with-me
                .blur__form
                .contack-with-me__blur-background


                .contact-with-me__title
                    .contact-with-me__title_text CONTACT ME

                form(action="#").contact-me__form
                    input(type="text" name="name" placeholder="Name").contact-me__form-input
                    input(type="text" name="name" placeholder="Email").contact-me__form-input
                    textarea(type="textarea" name="massege" placeholder="Massage").contact-me__form-input_textarea
                    input(type="submit" value="Send").contact-me__form-button.contact-me__form-button-send
                    input(type="reset" value="Reset").contact-me__form-button.contact-me__form-button-reset




        .footer
            include ./../sections/footer.pug