extends ../layout

block title
    title project

block content
    include ./../sections/overlay_navigation
    .wrapper
        section.section.hero

            include ./../sections/hero_section

            .projects-triangle-container.projects-triagle__left
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").projects__triangle
                    polygon(points="0,0 0,110 1000,110")
            .projects-triangle-container.projects-triagle__right
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").projects__triangle
                    polygon(points="0,110 1000,110 1000,0")

            .project-title
                .projects-title_text My projects
                    svg.projects_svg
                        use(xlink:href='./assets/img/sprite.svg#works_header')

        section.section.project-block
            svg.portf_arrow.portf_arrow_left_svg
                    use(xlink:href='./assets/img/sprite.svg#portf_arrow_down')
            svg.portf_arrow.portf_arrow_right_svg
                use(xlink:href='./assets/img/sprite.svg#portf_arrow_down')
            ul.project-list.owl-carousel
                li.project-list_item
                    .project__col.project__col_left
                        .projects-img-carusel
                            a(href="#" atl="project").projects-img-carusel__item-link
                                img(src='assets/img/loft.png').projects-img-carusel__item-img
                    .project__col.project__col_right
                        .project-list_item-information
                            .project-list_item-title On line school website
                            .project-list_item-components HTML CSS JAVASCRIPT
                            .project-list_item-button
                                svg.project-link_svg
                                    use(xlink:href='./assets/img/sprite.svg#link')
                                .project-button-title Check website
                li.project-list_item
                    .project__col.project__col_left
                        .projects-img-carusel
                            a(href="#" atl="project").projects-img-carusel__item-link
                                img(src='assets/img/loft2.png').projects-img-carusel__item-img
                    .project__col.project__col_right
                        .project-list_item-information
                            .project-list_item-title On line school website
                            .project-list_item-components HTML CSS JAVASCRIPT
                            .project-list_item-button
                                svg.project-link_svg
                                    use(xlink:href='./assets/img/sprite.svg#link')
                                .project-button-title Check website
                li.project-list_item
                    .project__col.project__col_left
                        .projects-img-carusel
                            a(href="#" atl="project").projects-img-carusel__item-link
                                img(src='assets/img/loft.png').projects-img-carusel__item-img
                    .project__col.project__col_right
                        .project-list_item-information
                            .project-list_item-title On line school website
                            .project-list_item-components HTML CSS JAVASCRIPT
                            .project-list_item-button
                                svg.project-link_svg
                                    use(xlink:href='./assets/img/sprite.svg#link')
                                .project-button-title Check website
                li.project-list_item
                    .project__col.project__col_left
                        .projects-img-carusel
                            a(href="#" atl="project").projects-img-carusel__item-link
                                img(src='assets/img/loft.png').projects-img-carusel__item-img
                    .project__col.project__col_right
                        .project-list_item-information
                            .project-list_item-title On line school website
                            .project-list_item-components HTML CSS JAVASCRIPT
                            .project-list_item-button
                                svg.project-link_svg
                                    use(xlink:href='./assets/img/sprite.svg#link')
                                .project-button-title Check website








        section.section.whats-about
            .blur__background
                img(src='assets/img/projects_bg.png').blur__img
            .whats-about__title
                .whats-about__title_text My work review
                    svg.about_svg
                        use(xlink:href='./assets/img/sprite.svg#about_header')
            ul.review
                li.review-item
                    .mentor-photo
                        img(src='assets/img/d_koval_img.png').mentor-photo_img
                    .mentor-review This dude was studing in one of the best online schools - LoftSchool and had of the toughest 2 mounth in his life!
                        svg.quotes_svg.quotes_svg-left
                            use(xlink:href='./assets/img/sprite.svg#quotes')
                    .mentor-name Dmytry Kovalchuk
                    .mentor-pozition - LoftSchool founder
                li.review-item
                    .mentor-photo
                        img(src='assets/img/v_sabia_img.png').mentor-photo_img
                    .mentor-review This code can handle any test, but please do not run it in an old browsers!
                        svg.quotes_svg.quotes_svg-right
                            use(xlink:href='./assets/img/sprite.svg#quotes')
                    .mentor-name Vladimyr Sabyantsev
                    .mentor-pozition - mentor

            .contact-with-me
                .blur__form
                .contack-with-me__blur-background


                .contact-with-me__title
                    .contact-with-me__title_text CONTACT ME

                form(action="#").contact-me__form
                    input(type="text" name="name" placeholder="Name").contact-me__form-input
                    input(type="text" name="name" placeholder="Email").contact-me__form-input
                    textarea(type="textarea" name="massege" placeholder="Massage").contact-me__form-input_textarea
                    input(type="submit" value="Send").contact-me__form-button.contact-me__form-button-send
                    input(type="reset" value="Reset").contact-me__form-button.contact-me__form-button-reset




        .footer
            include ./../sections/footer.pug